# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Large binary files

faiss_index/
data/


# Jupyter
.ipynb_checkpoints/
*.ipynb:Zone.Identifier

# Environment & secrets
.env
*.env

# Editor
.vscode/

# OS
.DS_Store
Thumbs.db
